    <!---Sessão main, principal do projeto-->
    <section class="container-fluid">

        <div class="row bg-black  text-white p-5">

            <article class="col-md-6 d-flex flex-column align-items-center mt-5">
              <img src="../../../../assets/home/logo-proposito/logo-proposito.jpg" alt="Equipe Bushido">
            </article>
    
            <article class="col-md-6 d-flex flex-column align-items-center justify-content-between">
    
                <div class="text-center mt-4">
                    <h1 class="h2">Propósito</h1>
                </div>
              
                <div class=" mt-5">
                    <p class="h5 text-justify fs-5 lh-base">Juntos nós podemos criar um mundo melhor para os jovens. Trabalhamos para melhorar a vida dos jovens por meio da prática direta. Jovens de diferentes origens têm um grande impacto em nós e em todas as nossas atividades. Juntos promovemos o desenvolvimento pessoal, a melhora da autoestima e ensinos valores como disciplina e respeito.</p>
        
                </div>
             
              <div class="mt-5">
                <a href="#" class="btn  btn-light  btn-lg rounded-pill"  role="button">VENHA FAZER PARTE!</a>
              </div>
        
             
            </article>
        
           
    
        </div>
    
          </section>
    
    
    
    
    
    
    
    