<section  class=" container-fluid bg-black p-5 text-white ">

    <div class="row d-flex justify-content-evenly">


    <article class="col-md-3">

        <h1 class="text-center mb-2 ">Patrocionadores</h1>

        <div id="carouselPatrocinadores" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active ">
                <img src="" class=" w-100 rounded-circle" alt="Primeiro slide">
              </div>
              <div class="carousel-item">
                <img src="" class=" w-100 rounded-circle" alt="Segundo slide">
              </div>

              <div class="carousel-item">
                <img src="" class=" w-100 rounded-circle" alt="Segundo slide">
              </div>
              <!-- Adicione mais imagens conforme necessário -->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPatrocinadores" data-bs-slide="prev">
              <span class="carousel-control-prev-icon " aria-hidden="true"></span>
              <span class="visually-hidden ">Anterior</span>
            </button>
            <button class="carousel-control-next " type="button" data-bs-target="#carouselPatrocinadores" data-bs-slide="next">
              <span class="carousel-control-next-icon " aria-hidden="true"></span>
              <span class="visually-hidden">Próximo</span>
            </button>
          </div>


        

    </article>

    <article class="col-md-3">

        <h1 class="text-center mb-2">Selos</h1>

        <div id="carouselSelos" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active ">
                <img src="" class="d-block w-100" alt="Primeiro slide">
              </div>
              <div class="carousel-item ">
                <img src="" class="d-block w-100" alt="Segundo slide">
              </div>
              <!-- Adicione mais imagens conforme necessário -->
            </div>
            <button class="carousel-control-prev " type="button" data-bs-target="#carouselSelos" data-bs-slide="prev">
              <span class="carousel-control-prev-icon " aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselSelos" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Próximo</span>
            </button>
          </div>

       

    </article>
    </div>
</section>